* {
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    max-width: 1200px;
    width: 100%;
    border-bottom: 0.3px solid #46A35880;
    margin: 0 auto;
}

.container-header {
    display: flex;
    margin: 30px 0 12px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.name-list:hover > ul {
    display: block;
}

.sub-menu {
    width: 188px;
    height: 143px;
    background-color: #EDF6EE;

    > li:hover > a {
        color: #FFFFFF;
        font-family: 'Encode Sans Expanded', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        background-color: #1A712A;
        transition: all 0.3s ease-in-out;

        svg {
            transform: rotate(180deg);
            transition: all .3s ease-in-out;
            stroke: #FFFFFF;
        }
    }

    li > a svg {
        transform: rotate(0deg);
        transition: all .3s ease-in-out;
    }

    > li:hover > ul {
        display: block;

        > li:hover > a {
            color: #FFFFFF;
            font-family: 'Encode Sans Expanded', sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            background-color: #1A712A;
            transition: all 0.3s ease-in-out;
        }
    }
}

.sub-sub-menu {
    width: 178px;
    height: 215px;
    background-color: #EDF6EE;
    top: 0;
    left: 100%;
    position: absolute;
    display: none;
    padding-top: 12px;
}

.sub-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 15%;
    padding-top: 12px;

    > li {
        list-style: none;
    }

    a {
        display: flex;
        gap: 82px;
        align-items: center;
        padding: 8px 14px;
        text-decoration: none;
        background: #EDF6EE;
        font-family: 'Encode Sans Expanded', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #3D3D3D;
        width: 100%;
    }
}

.navigation > ul > li:hover > ul {
    display: block;
}

.menu {
    > li {
        border-bottom: 3px solid transparent;
        /*padding-bottom: 25px;*/

        &:hover {
            border-color: #46A358;
            transition: all 0.3s ease-in-out;
        }
    }

    display: flex;
    list-style: none;
    gap: 48px;
    position: absolute;
    top: 10px;
    left: 379px;
    right: 0;
    bottom: -12px;
}

.name-list {
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
}

.name-list:hover,
.name-list:active {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.btn-register {
    display: flex;
    background: #46A358;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.login {
    color: #FFFFFF;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
}

.main {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

.pic1 {
    width: 135px;
    height: 135px;
    margin-right: -150px;
}

.main-img {
    display: flex;
    float: right;
    max-width: 1200px;
    height: 450px;
    align-items: baseline;
}

.text {
    float: left;
    max-width: 1200px;
    width: 50%;
}

.welcome {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    width: 240px;
    height: 16px;
    color: #3D3D3D;
    margin-bottom: 8px;
}

.main-item {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    width: 530px;
    height: 140px;
    margin-bottom: 6px;
}

.part2 {
    color: #46A358;
}

.descr-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 557px;
    height: 45px;
    color: #727272;
    margin-bottom: 44px;
}

.main {
    font-family: 'Cera Pro', sans-serif;
}

.text {
    padding-left: 40px;
    margin-top: 68px;
}

.for_buy {
    width: 142px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    padding: 10px 26px 10px 27px;
    cursor: pointer;
}

.go-to-shop {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    width: 87px;
    height: 20px;
}

.main-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: start;
}

.content-img {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
    margin-top: 30px;
}

.container-content {
    margin-top: 140px;
}

.head-img {
    display: flex;
    gap: 40px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 838px;
    height: 23px;
    align-items: center;
}

.aside-list {
    max-width: 310px;
    height: 774px;
    background: #FBFBFB;
    margin-top: 140px;
    padding: 18px 14px;
}

.categories-list {
    padding: 24px 12px;
    height: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories-name:hover,
.categories-name.active {
    color: #46A358;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    transition: all 0.3s ease;
}

.categories-name {
    cursor: pointer;
}

.banner {
    max-width: 310px;
    object-fit: cover;
    height: 470px;
}

.categories-name {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
    text-decoration: none;
}

.head-list {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.sidebar {
    margin-right: 50px;
}

.head-img {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
    width: 280px;
}

.filter-name {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
}

.filter-name:hover,
.filter-name.active {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #46A358;
    border-bottom: 2px solid #46A358;
    transition: all 0.5s ease;
}

.flower-name {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

.price {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    margin-top: 6px;
}

.filter-menu {
    display: flex;
    gap: 4px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.flower-img {
    background-color: #FBFBFB;
    border: 1px;
    width: 258px;
    height: 300px;
}

.item-card:hover,
.item-card:active {
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-color: #46A358;
}

.item-card:hover .card-png {
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-png {
    > img {
        padding: 7.5px;
        border-radius: 4px;
        background: #FFFFFF;
    }

    gap: 10px;
    position: absolute;
    bottom: 57px;
    left: 63px;
    display: none;
}

.sale {
    position: absolute;
    width: 80px;
    height: 29px;
    top: 14px;
    left: 0;
}

.irl-price {
    text-decoration: line-through;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #A5A5A5;
    margin-left: 16px;
}

.description-card {
    margin-top: 12px;
}

.item-card {
    border-top: 1px solid transparent;
    width: 258px;
    height: 350px;
    position: relative;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
    margin-top: 90px;
}

.pagination-number {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    max-width: 35px;
    max-height: 35px;
    border-radius: 4px;
    padding: 9px 13px 10px 12px;
}

.pagination-number:hover,
.pagination-number:active {
    background-color: #46A358;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.section-blog {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.first-frame {
    display: flex;
    justify-content: space-between;
    font-family: 'Cera Pro', sans-serif;
    gap: 28px;
}

.summer-cactus, .styling-trends {
    display: flex;
    align-items: center;
    width: 586px;
    height: 250px;
    background-color: #FBFBFB;
}

.head-frame {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    width: 178px;
    height: 48px;
    color: #3D3D3D;
}

.img-blog {
    width: 287px;
    height: 292px;
    mix-blend-mode: Multiply;
}

.blog-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    margin-right: 30px;
}

.descr-blog {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top: 9px;
}

.more-inf {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 11px 28px 9px 28px;
    margin-top: 24px;
    cursor: pointer;
}

.btn-arrow {
    margin-left: 6px;
}

.second-frame {
    margin-top: 138px;
    font-family: 'Cera Pro', sans-serif;
}

.head-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-head {
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-content {
    display: flex;
    margin-top: 36px;
    gap: 42px;
}

.personal-inf {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
}

.head-content {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
    width: 210px;
    height: 52px;
    margin-top: 4px;
}

.blog-card {
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descr-card {
    width: 242px;
    height: 146px;
    margin-top: 9px;
}

.descr-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin-top: 4px;
}

.btn-blog {
    background: none;
    margin-top: 9px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    cursor: pointer;
}

.arrow-black {
    margin-left: 6px;
}

.btn-blog:hover .arrow-black,
.btn-blog:active .arrow-black {
    content: url("./photo/arrow-green.svg");
}

.btn-blog:hover,
.btn-blog:active {
    color: #46A358;
    transition: all 0.3s ease;
}

footer{
    max-width: 1200px;
    margin: 90px auto;
}
.content-box{
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    height: 250px;
    gap: 30px;
    div:first-child{
        margin-left: 25px;
    }
}
.content-box div:nth-child(3){
    border: none;
}
.additional-inf{
    display: flex;
    flex-direction: column;
    height: 202px;
    border-right: 1px solid #46A3581A;
    padding-right: 30px;
    >h3{
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 17px;
        line-height: 16px;
        color: #3D3D3D;
        margin-bottom: 9px;
    }
    >p{
        font-family: 'Cera Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #727272;
    }
}
.picf1{
    width: 77px;
    height: 95px;
}
.picf2{
    width: 83px;
    height: 93px
}
.picf3{
    width: 90px;
    height: 92px;
}
.picf1, .picf2, .picf3{
    margin-bottom: 15px;
}
.footer-form{
    width: 354px;
    height: 202px;
    margin-right: 25px;
    >h2{
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #3D3D3D;
        margin-bottom: 25px;
    }
    >p{
        font-family: 'Cera Pro', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #727272;
        width: 354px;
        height: 89px;
    }
}
input{
    width: 269px;
    height: 40px;
    box-shadow: 0 0 20px 0 #0000000F;
    border-radius: 6px;
    color: #3D3D3D;
    padding: 12px 11px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
input:focus-visible{
    outline: none;
}
input:focus{
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease;
}

.subscribe-form >form{
    height: 40px;
    display: flex;
    margin-bottom: 18px;
    >button{
        width: 85px;
        height: 40px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: #46A358;
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #FFFFFF;
    }
}
.contact-container{
    background: rgb(237,246,239);
    background: linear-gradient(90deg, rgba(237,246,239,1) 35%, rgba(82,195,104,1) 100%);
    height: 88px;
}
.contact-info{
    display: flex;
    margin-left: 23px;
    margin-right: 22px;
    min-height: 88px;
    align-items: center;
    gap: 155px;
    flex-wrap: nowrap;
    >a{
        font-family: 'Cera Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #3D3D3D;
    }
    a:nth-child(3){
        display: flex;
        width: 195px;
        height: 22px;
        gap: 10px;
        align-items: center;
    }
    a:nth-child(2){
        display: flex;
        width: 205px;
        height: 44px;
        gap: 9px;
        align-items: center;
    }
    a:last-child{
        display: flex;
        width: 140px;
        height: 22px;
        gap: 5px;
        align-items: center;
    }
}
.social-container{
    display: flex;
    height: 236px;
    background-color: #FBFBFB;
    border-bottom: 1px solid #46A35833;
}
.help-content{
    display: flex;
    margin-left: 25px;
    margin-top: 33px;
    div:first-child{
        margin-right: 164px;
    }
    div:nth-child(2){
        margin-right: 129px;
    }
    div:nth-child(3){
        margin-right: 173px;
    }
    div{
        display: flex;
        flex-direction: column;
        ul{
            font-family: 'Cera Pro', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            margin-top: 8px;
            a{
                color: #3D3D3D;
            }
        }
        h3{
            font-family: 'Cera Pro', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            color: #3D3D3D;
        }
    }
}
.brand-content {
    margin-top: 33px;
    width: 224px;
    height: 154px;
    display: flex;
    flex-direction: column;
    gap: 33px;

    h3{
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        margin-bottom: 20px;
    }
}
.social-icons{
    display: flex;
    gap: 10px;
    a{
        border: 1px solid #46A35833;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-radius: 4px;
        color: #46A35899
    }
}
.pay{
    h3{
        margin-bottom: 13px;
    }
}
.copyright{
    display: flex;
    justify-content: center;
    margin-top: 6px;
    height: 30px;
    align-items: center;
}