body{
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cera Pro', sans-serif;
}
.container {
    width: 500px;
    height: 656px;
    top: -329px;
    left: -251px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.hide {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.close_item{
    display: flex;
    justify-content: end;
    margin-top: 13px;
    padding-right: 13px;
    cursor: pointer;
    border: none;
    background: none;
}

.head_form{
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
}
footer{
    background-color: #46A358;
    width: 500px;
    height: 10px;
    top: 646px;
    margin-top: auto;
}

.form{
    gap: 14px;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 100px;
    div{
        width: 300px;
        position: relative;
        button{
            position: absolute;
            top: 10px;
            right: 8px;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
.label{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
        border: 0;
}
.form_descr{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.input{
    color: #3D3D3D;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 14px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    padding-right: 30px;
    &:focus{
            outline: none;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.2s ease;
    }
    &:focus-visible{
        outline: none;
    }
}
.button_form{
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border-color: #46A358;
    background-color: #46A358;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
    cursor: pointer;
}

.form_end{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    gap: 7px;
    color: #3D3D3D;
    margin-top: 16px;
}

.form_end::before,
.form_end::after {
    content: "";
    height: 1px;
    background: #EAEAEA;
    flex: 1;
    max-width: 97px;
}

.btn-social{
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px ;
    margin-top: 12px;
    cursor: pointer;
    margin-bottom: -8px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    &:hover{
        filter: brightness(95%);
        >svg{
            animation: up 0.4s ease-in forwards;
        }
    }
    >svg{
        animation: down 0.2s ease-in forwards;
    }

}

.btn-social{
    border: 1px solid #EAEAEA;
}

.buttons{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-top: 21px;
}
.diverse{
    font-size: 18px;
    font-weight: 250;
    line-height: 16px;
}

.checkbox{
    display: flex;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    justify-content: left;
    gap: 15px;
}

 .checkbox input[type="checkbox"] {
     display: none;
     visibility: hidden;
 }

.checkbox label {
    display: inline-block;
}

.checkbox .check {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.checkbox .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.checkbox .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.checkbox .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.checkbox .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.checkbox .check:hover:before {
    opacity: 1;
}
.checkbox .check:hover svg {
    stroke: #379e52;
}
.checkbox input[type="checkbox"]:checked + .check svg {
    stroke: #379e52;
}
.checkbox input[type="checkbox"]:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.checkbox input[type="checkbox"]:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.choose-btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

 .radio {
     display: flex;
     align-items: center;
 }

.radio input {
    -webkit-appearance: none; /* remove default */
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsl(136, 48%, 42%) 0 1px 1px, inset hsl(136, 48%, 42%) 0 0 0 1px;
    background-color: hsl(0, 0%, 100%);
    background-image: -webkit-radial-gradient( hsl(140, 48%, 56%) 0%, hsl(136, 48%, 42%) 15%, hsla(131, 46%, 23%, 0.3) 28%, hsla(131, 81%, 67%, 0.3) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
}
.radio input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
.radio-wrapper-32 input:active {
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

.radio input,
.radio input:active {
    background-position: 0 24px;
}
.radio input:checked {
    background-position: 0 0;
}
.radio input:checked ~ input,
.radio input:checked ~ input:active {
    background-position: 0 -24px;
}

.radio{
    display: flex;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    justify-content: left;
    gap: 15px;
}

@keyframes up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-3px);
    }

}
@keyframes down {
    from {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(0);
    }
}